body.toplevel_page_sz-events table.events th#status,
body.toplevel_page_sz-events table.events th#members {
	width: 10%;
}

body.toplevel_page_sz-events table.events th#last_active {
	width: 15%;
}

#sz-events-form .avatar {
	float: right;
	margin-left: 10px;
	margin-top: 1px;
}

#sz-events-edit-form input {
	outline: medium none;
}

#sz-events-edit-form input#sz-events-name {
	font-size: 1.7em;
	width: 100%;
	margin-bottom: 6px;
}

#sz-events-edit-form input#sz-events-new-members {
	border: 1px solid #e5e5e5;
	margin-top: 6px;
	width: 100%;
}

#sz-events-new-members-list {
	margin: 0;
}

.sz-events-settings-section {
	margin-top: 10px;
	line-height: 2;
}

.sz-events-settings-section legend {
	margin-top: 10px;
	font-weight: 700;
}

.sz-events-settings-section label {
	clear: right;
	display: block;
	float: right;
	vertical-align: middle;
}

#sz-events-permalink-box {
	line-height: 24px;
	color: #666;
}

#sz-events-permalink {
	margin-left: 24px;
}

.sz-events-member-type {
	position: relative;
}

.sz-events-member-type > h4 {
	margin-bottom: 0.5em;
}

ul.sz-event-delete-list {
	list-style-type: disc;
	margin: 4px 26px;
}

/*
 * Members Pagination
 */
.sz-event-admin-pagination {
	position: absolute;
	text-align: left;
	width: 100%;
}

.sz-event-admin-pagination.table-top {
	top: 0;
}

.sz-event-admin-pagination.table-bottom {
	bottom: 0;
}

.sz-event-admin-pagination-viewing {
	color: #777;
	font-size: 12px;
	font-style: italic;
}

.sz-event-admin-pagination-links {
	white-space: nowrap;
	padding-right: 15px;
}

.sz-event-admin-pagination-links .page-numbers {
	display: inline-block;
	min-width: 12px;
	border: 1px solid #ccc;
	padding: 2px 4px 4px;
	background: #e5e5e5;
	line-height: 1;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
}

.sz-event-admin-pagination-links a.page-numbers:hover {
	text-decoration: underline;
}

.sz-event-admin-pagination-links .page-numbers.current,
.sz-event-admin-pagination-links .page-numbers.dots {
	border-color: #ddd;
	background: #f7f7f7;
	color: #a0a5aa;
}

/*
 * Members List
 */
table.sz-event-members .uid-column {
	padding-right: 20px;
	padding-left: 20px;
}

table.sz-event-members .uname-column {
	width: 70%;
}

table.sz-event-members .urole-column {
	padding-right: 20px;
	padding-left: 20px;
}

@media screen and (max-width: 782px) {

	.sz-events-settings-section label {
		margin: 0.25em 0;
	}
}
