#available-widgets [class*=sz_] .widget-title:before {
	font-family: 'sportspress';
}
#available-widgets [class*=sz_countdown] .widget-title:before {
	content: "\f469";
}
#available-widgets [class*=sz_event_calendar] .widget-title:before,
#available-widgets [class*=sz_event_list] .widget-title:before {
	content: "\f145";
}
#available-widgets [class*=sz_league_table] .widget-title:before {
	content: "\f334";
}
#available-widgets [class*=sz_player_list] .widget-title:before,
#available-widgets [class*=sz_player_gallery] .widget-title:before {
	content: "\f307";
}
#available-widgets [class*=sz_countdown] .widget-title:before {
	content: "\f469";
}