/* SportsPress icons */
@font-face {
	font-family: 'sportszone';
	src:url('../fonts/sportszone.eot?ddphik');
	src:url('../fonts/sportszone.eot?#iefixddphik') format('embedded-opentype'),
		url('../fonts/sportszone.woff2?ddphik') format('woff2'),
		url('../fonts/sportszone.ttf?ddphik') format('truetype'),
		url('../fonts/sportszone.woff?ddphik') format('woff'),
		url('../fonts/sportszone.svg?ddphik#sportszone') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="sz-icon-"], [class*=" sz-icon-"] {
	font-family: sportszone, dashicons;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;
	width: 20px;
	height: 20px;
	font-size: 20px;
	vertical-align: top;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Performance Icons */
.sz-icon-sub:before {
	content: "\f503";
}
.sz-icon-star-filled:before {
	content: "\f155";
}
.sz-icon-update:before {
	content: "\f113";
}
.sz-icon-undo:before {
	content: "\f171";
}
.sz-icon-redo:before {
	content: "\f172";
}
.sz-icon-marker:before {
	content: "\f159";
}
.sz-icon-no:before {
	content: "\f158";
}
.sz-icon-heart:before {
	content: "\f487";
}

/* Performance Icons - Sports */
.sz-icon-soccerball:before {
	content: "\e700";
}
.sz-icon-baseball:before {
	content: "\e701";
}
.sz-icon-basketball:before {
	content: "\e602";
}
.sz-icon-golfball:before {
	content: "\e603";
}
.sz-icon-cricketball:before {
	content: "\e604";
}
.sz-icon-bowling:before {
	content: "\e605";
}
.sz-icon-ice-hockey:before {
	content: "\e606";
}
.sz-icon-football:before {
	content: "\e607";
}
.sz-icon-poolball:before {
	content: "\e608";
}
.sz-icon-table-tennis:before {
	content: "\e609";
}
.sz-icon-tennis:before {
	content: "\e610";
}
.sz-icon-racing-flag:before {
	content: "\e611";
}

/* Performance Icons - Sports (Alt) */
.sz-icon-soccerball-alt:before {
	content: "\e600";
}
.sz-icon-baseball-alt:before {
	content: "\e601";
}

/* Performance Icons - Misc */
.sz-icon-shoe:before {
	content: "\e800";
}
.sz-icon-card:before {
	content: "\e801";
}
